* {
  margin: 0;
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 30%;
  }
}

.hoverLine {
  position: relative;
}

.hoverLine::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  inset: 100% auto auto 0;
  scale: 0 1;
  transition: scale .1s ease-in-out;
}

.hoverLine:hover::before {
  scale: 1.2;
}

/* .mgImage {
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideBackground 2s linear infinite;
}

@keyframes slideBackground {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
} */
